<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >
    <h:head>
        <title>Mi cafecito</title>
    </h:head>
    <h:body>

        <h:form>

            <p:menuitem>
                <p:growl id="messages"/>
                <p:menubar>
                    <p:menuitem value="Inicio" outcome = "/index" />
                    <p:menuitem value="Bitacora" outcome = "/Bitacora" />
                    <p:menuitem value="" outcome = "/Bitacora" />
                    <p:submenu label="Configuraciones" >
                        <p:menuitem value="Usuarios" outcome = "/Usuario" />
                        <p:menuitem value="Otros" url="#" />
                    </p:submenu>
                    
                </p:menubar>
            </p:menuitem>


        </h:form>
        <h1>PRIMERA PRACTICA</h1>


    </h:body>
</html>

